.logo{
    width: 36px;
    height: 36px;
    padding-right: 1304px;
    padding-left: 100px;
    padding-top: 22px;
    padding-bottom: 22px;
    position: absolute;
    z-index: 1;
    }

    nav {
        width: 1440 px;
        height: 80px;    
        background:white;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: right;
        transition: all 1s ease;
        position: relative;
      }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
      }

      .menu__item{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 28px;
        list-style:none;
        text-decoration: none;
        width: 100px;
        margin: 0px 26px 0px 26px;
        padding-right: 48px;
        padding-left: 48px;
      }



.container{  
    display: block;
    position: relative;
    height: 3.5em;
    background: white;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.title{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #060A24;
    letter-spacing: 0;
}

.line-through{
    text-decoration: line-through;
}

.text_content{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    }

footer{
   display: inline grid;
   grid-template-columns: auto auto auto auto;
   padding: 10px;
}

i{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
    }

.text_bottom{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    }
    
    .bottom {
        border: 0;
        width: 288px;
        height: 48px;
        font-family: 'IBM Plex Mono', monospace;
        background-color: #00F3BB;
        font-size: 16px;
        font-weight: bold;
        color: #060A24;
      }
    