 /* Inicia Inicia Barra de navegación */
  
  .icon {
    display: none;
    width: var(--ancho);
    height: var(--ancho);
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }
  
  .toggle {
    display: none;
  }
  
  .hamburguer {
    display: block;
    width: var(--ancho);
    height: var(--alto);
    background: var(--open);
    position: absolute;
    top: var(--abajo);
    transition: all .3s ease-in-out;
  }
  
  .hamburguer:before,
  .hamburguer:after {
    content: "";
    display: block;
    width: var(--ancho);
    height: var(--alto);
    background: var(--open);
    position: absolute;
    top: var(--arriba);
    transition: inherit;
  }
  
  .hamburguer:after {
    top: var(--abajo);
  }
  
  .toggle:checked + .icon>.hamburguer {
    background: var(--close);
    transform: rotate(45deg);
  }
  
  .toggle:checked + .icon>.hamburguer:before {
    background: var(--close);
    top: 0;
    transform: rotate(90deg);
  }
  
  .toggle:checked + .icon>.hamburguer:after {
    background: var(--close);
    top: 0;
    transform: rotate(90deg);
  }
  
  nav {
    width: 1440 px;
    height: 80px;    
    background: var(--light);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: right;
    transition: all 1s ease;
    position: relative;
  }
  
  .logo{
    width: 36px;
    height: 36px;
    padding-right: 1304px;
    padding-left: 100px;
    padding-top: 22px;
    padding-bottom: 22px;
    position: absolute;
    z-index: 3;
    }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
    list-style:none;
    text-decoration: none;
    width: 100px;
    margin: 0px, 26px, 0px, 26px;
    padding-right: 48px;
    padding-left: 48px;
  }


  .menu__item{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: rgba(6,10,36,0.56);
    letter-spacing: 0;
    line-height: 28px;
    list-style:none;
    text-decoration:line-through;
    }


    a:menu__item:-webkit-any-link {
        color transparent;
        cursor: pointer;
    }

    a:-webkit-any-link:hover {
        color:#00F3BB;
        cursor: pointer;
        text-decoration: line-through;
    }
  
  @media only screen and (max-width: 600px) {
    .icon {
      display: inline-block;
    }
    
    nav {
      padding: .625em;
    }
    
    .menu {
      display: none;
      width: 100%;
    }
    
    .menu__item {
      width: 100%;
    }
    
    .menu, .menu__link {
      width: 100%;
    }
    
    .toggle:checked ~ .menu {
      display: block;
    }
  }




.container{  
    display: block;
    position: relative;
    height: 3.5em;
    background: white;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.title{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #060A24;
    letter-spacing: 0;
}

.line-through{
    text-decoration: line-through;
}

.text_content{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    }

footer{
   display: inline grid;
   grid-template-columns: auto auto auto auto;
   padding: 10px;
}

i{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
    }

.logo{
width: 36px;
height: 36px;
padding-right: 1304px;
padding-left: 100px;
padding-top: 22px;
padding-bottom: 22px;
position: absolute;
z-index: 3;
}



.text_bottom{
font-family: 'IBM Plex Mono', monospace;
font-size: 18px;
color: #060A24;
letter-spacing: 0;
text-align: center;
line-height: 24px;
}

.bottom {
    border: 0;
    width: 288px;
    height: 48px;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #00F3BB;
    font-size: 16px;
    font-weight: bold;
    color: #060A24;
  }



/* [Configuración responsive para tablets]
@media screen and (max-width: 1024px) and (min-width: 768px){

    h1 {
       
      }


  } */

  /* [Configuración responsive para computadores]
@media screen and (max-width: 1200px){
    .title {
        font-size: 64px;
        line-height: 84px;
      }

      .logo{
        width: 24px;
        height: 24px;
        }

      .text_content{
        font-size: 14px;
        line-height: 22px;
        }
        
        .text_bottom{
        font-size: 16px;
        line-height: 22px;
        }

    i{
        font-size: 16px;
        letter-spacing: 0;
        line-height: 28px;
        width: 16px;
        height: 20px;
      }
}

@media screen and (max-width: 1024px){
    .title {
        font-size: 64px;
        line-height: 84px;
      }

      .logo{
        width: 24px;
        height: 24px;
        }

      .text_content{
        font-size: 14px;
        line-height: 22px;
        }
        
        .text_bottom{
        font-size: 16px;
        line-height: 22px;
        }

    i{
        font-size: 16px;
        letter-spacing: 0;
        line-height: 28px;
        width: 16px;
        height: 20px;
    }
}*/