 /* first mobile */

body{
    padding: 0;
    margin: 0;
}

%title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0;
}

.title-black{
    @extend %title;
        color: #060A24;
    }

.title-white{
    @extend %title;
        color: white;
    }



.line-through{
    text-decoration: line-through;
}

.paragraph{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 300;
}

    
.bottom {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background-color: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    vertical-align: middle;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    text-decoration: none;

    &:hover{
        color: white;
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    }

}

.container{
    margin-left: 0px;
    margin-right: 0px;
}

.container_blue{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0% 3%, 100% 0%, 100% 100%,0% 100%);
}

/* Opciones desktop y tablet */

@media screen and (min-width: 768px) {
    .bottom {
        font-size: 18px;
        line-height: 24px;
        height: 56px;
        width: 226px;
    }

    .paragraph{
        font-size: 16px;
        line-height: 24px;
    }

    .container_blue{
        clip-path: polygon(0% 13%, 100% 0%, 100% 100%,0% 100%);
    }
}