$background_nav: white;
$background_item: #0000EC;
$hamburguer_width: 18px;
$icon_height: 2px;
$x_color:#060A24;

header{
width: 100vw;
padding: 0;
margin: 0;
}


.logo{
    width: 24px;
    height:24px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    z-index: 2;
}

 /* Inicia Barra de navegación */
nav {
    height: 44px;    
    background: $background_nav;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    transition: all 1s ease;
    position: relative;
}

 /* Inicia Menú tipo hamburguesa first mobile */
.toggle {
    display: none;
}

.toggle:checked ~ .menu {
    display: block;
}

.icon {
    display: inline-block;
    width: $hamburguer_width;
    height: $icon_height;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
 }

 .hamburguer {
    display: block;
    width: $hamburguer_width;
    height: $icon_height;
    background: black;
    position: absolute;
    top: 21px;
    right: 19px;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
}
  
  .hamburguer:before,
  .hamburguer:after {
    content: "";
    display: block;
    width: $hamburguer_width;
    height:$icon_height;
    background: black;
    position: absolute;
    top: -6px;
    transition: inherit;
}
  
  .hamburguer:after {
    top: 6px;
 }
  
  .toggle:checked + .icon>.hamburguer {
    background:$x_color;
    transform: rotate(45deg);
}
  
  .toggle:checked + .icon>.hamburguer:before {
    background:$x_color;
    top: 0;
    transform: rotate(90deg);
}
  
  .toggle:checked + .icon>.hamburguer:after {
    background:$x_color;
    top: 0;
    transform: rotate(90deg);
}
 /* Finaliza Menú tipo hamburguesa first mobile */

 /* Opciones del menú first mobile */
.menu {
    text-align: left;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    background: #0000EC;
    margin-top: 44px;
    padding: 0px;
    z-index: 3;

    & li {
        flex: auto;
    list-style: none;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 8px;
    }

    & li:last-child {
        margin-bottom: 24px;
    }

}

.menu_link {
    text-decoration: none;
    flex: auto;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
}