/* first mobile */


#news {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    padding-bottom: 67px;
    margin-top: 42px;

    & h2 {
        text-align: center;
        margin: 0px 16px 36px 16px;
        padding-top: 64px;
    }

    & .bottom {
        margin: 0px 16px 0px 16px;
    }

}

/* Opciones desktop y tablet */

@media screen and (min-width: 768px) {

    
}