@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
}

.title-white, .title-black {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0;
}

.title-black {
  color: #060A24;
}

.title-white {
  color: white;
}

.line-through {
  text-decoration: line-through;
}

.paragraph {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
}

.bottom {
  border: 0;
  width: 288px;
  height: 48px;
  font-family: "IBM Plex Mono", monospace;
  background-color: #00F3BB;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

header {
  width: 100vw;
  padding: 0;
  margin: 0;
}

.logo {
  width: 24px;
  height: 24px;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  z-index: 2;
}

/* Inicia Barra de navegación */
nav {
  height: 44px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  transition: all 1s ease;
  position: relative;
}

/* Inicia Menú tipo hamburguesa first mobile */
.toggle {
  display: none;
}

.toggle:checked ~ .menu {
  display: block;
}

.icon {
  display: inline-block;
  width: 18px;
  height: 2px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
}

.hamburguer {
  display: block;
  width: 18px;
  height: 2px;
  background: black;
  position: absolute;
  top: 21px;
  right: 19px;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.hamburguer:before,
.hamburguer:after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background: black;
  position: absolute;
  top: -6px;
  transition: inherit;
}

.hamburguer:after {
  top: 6px;
}

.toggle:checked + .icon > .hamburguer {
  background: #060A24;
  transform: rotate(45deg);
}

.toggle:checked + .icon > .hamburguer:before {
  background: #060A24;
  top: 0;
  transform: rotate(90deg);
}

.toggle:checked + .icon > .hamburguer:after {
  background: #060A24;
  top: 0;
  transform: rotate(90deg);
}

/* Finaliza Menú tipo hamburguesa first mobile */
/* Opciones del menú first mobile */
.menu {
  text-align: left;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  background: #0000EC;
  margin-top: 44px;
  padding: 0px;
  z-index: 3;
}
.menu li {
  flex: auto;
  list-style: none;
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 8px;
}
.menu li:last-child {
  margin-bottom: 24px;
}

.menu_link {
  text-decoration: none;
  flex: auto;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 28px;
}

/*# sourceMappingURL=styles.css.map */
